/* =================================
            Body
================================= */

body {
    background-image: url(../images/bg.png);
    font-family: 'Abel', sans-serif;
}

.row {
    margin: 0;
}

.content {
    min-height: calc(100vh - 70px);
}

/* =================================
            Seach Field
================================= */

#logo {
    width: 20%;
    margin: 0 40%;
}

h1 {
    color: #dc3644;
    text-align: center;
    margin-bottom:15px;
}

#searchField {
    margin-top: 50px;
    background-color: #5ea9f5;
    width: 100%;
    height: 300px;
    padding: 10%;
    padding-top: 15px;
    border-radius: 15px;
}

#userInput {
    width: 86%;
}

.input-group {
    height: 40px;
}

#instructions {
    margin-top: 28px;
    text-align: center;
    color: #dc3644;
    font-style: italic;
    font-size: 20px;
}

/* =================================
            Gifs
================================= */

#gifDisplay {
    padding: 50px 15%;
}

.gifs {
    margin: 0 0 10px 10px;
}

.individualGifs {
    display: inline-block;
    text-align: center;
}

.rating {
    font-size: 20px;
}

/* =================================
            Footer
================================= */

footer {
    width: 100%;
    height: 75px;
    background-color: #5ea9f5;
    color: #dc3644;
    text-align: center;
    padding-top: 25px;
    font-size: 18px;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #dc3644;
}

/* =================================
        Mobile Responsiveness
================================= */

@media (max-width:1440px) {
    #userInput {width: 81%;}
}

@media (max-width:1024px) {
    #userInput {width: 80%;}
}

@media (max-width:414px) {
    #userInput {width: 77%;}
    #searchField {width: 96%; margin-left: 2%;}
}

@media (max-width:375px) {
    #userInput {width: 74%;}
}